<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <h1>
    Welcome to {{ title }}{{name}}!
  </h1>
  <p>
    I will give it {{score}};
  </p>
  <p>
    {{score*20}}
  </p>
  <p>
    {{displaymessage()}}
  </p>
   Single Page Application
  <br>
  <a routerlink="directive">Directive</a> &nbsp;
  <a routerlink="pipe">Pipes </a> &nbsp; -->
  
<!-- <app-directive></app-directive>
<app-inbuilt></app-inbuilt>
<app-family></app-family> -->

<app-consumechild3></app-consumechild3>
<router-outlet></router-outlet>
